{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "spaced-comment": 0
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "env": {
    "es6": true
  }
}
